# Ignore artifacts:
build
coverage
node_modules

# Ignore all HTML files:
*.html

# Ignore specific files:
secret.config.js

# Ignore all files in the logs directory:
logs

# Ignore all markdown files:
*.md

# Ignore all JSON files:
*.json

# Ignore all files in the temp directory:
temp

# Ignore all files in the dist directory:
dist

# Ignore all files in the public directory:
public

# Ignore all files in the .cache directory:
.cache

# Ignore all files in the .next directory (Next.js):
.next

# Ignore all files in the out directory (Next.js):
out